*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 109, 190);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  outline: none;
  padding: 15px 30px;
  background-color: rgb(2, 2, 46);
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  border-radius: 20px 0 20px 0;
  border-bottom: 4px solid yellow;
  position: relative;
  left: 42%;
  margin-top: 5px;
  transition: all 0.5s ease;
}
.btn:hover {
  border-radius: 0 20px  0 20px;
}